.item-wrapper{
    padding: 1.5rem
}

.shop-item {
    height: 50rem;
    min-width: 140px;
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
    overflow: hidden;

}

.item-image {
    width: 30rem;
    /* position: relative; */
    /* top: -10%; */
    /* width: auto; */
    /* height: 40%; */
    /* object-fit: contain; */
    /* z-index: 1; */
    
}

.hover-content {
    min-width: 380px;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.shop-item:hover .hover-content {
    opacity: 1;
    z-index: 1;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #e64a19;
}

.variant-colors {
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
    border-radius: 50%;
    background-color: black;
}